/* Flight search form design */
.flight-search_bg_web2 {background: #fff; border-radius: 15px; padding: 20px; text-align: left;}
.form-group {position: relative; margin-bottom:0px; }
.flight-search-lbl {font-size: 14px; color:#000; font-weight: 400; position: absolute; top: 10px; left: 20px;}
.flight-search-field {width: 100%; color:#000; padding: 30px 20px 8px; border-radius: 0px;  font-size: 16px; font-weight: 700; border:1px solid #ededed; background: #fff; appearance: none;}
.flight-search-field:focus {outline: none;}
.dropdown-panel {display: none; position: absolute; top: 100%; left: 0; width: 100%; background: white; border: 1px solid #ededed; ; padding: 20px; z-index: 1000; border-radius: 0 0 15px 15px; }
.traveller-row_web2 {display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px; }
.traveller-row_web2 > span { color:#000; font-size:14px;}
.traveller-row_web2 > span > span {color: #717070; font-size: 11px; display: block;}
.count-btn {width: 28px; height: 28px; border-radius: 50%; border: 1px solid #d41c1c; background: #d41c1c; color:#fff; cursor: pointer; text-align: center; line-height: 23px; font-size: 16px; }
.passenger-count-output {font-size: 14px; color:#000; width: 20px; display: inline-flex; justify-content: center; }
label:has(.choose-trip-type) { padding: 5px 15px; border-radius: 5px; cursor: pointer; color:#000; font-size:13px; display: inline-flex; align-items: center; gap:8px; margin-right: 5px;}
label:has(.choose-trip-type:checked) {background: #ffcdcd; color: #000;}
.travel-class-lbl {font-size: 14px; font-weight: 700; padding-bottom: 5px;}
#returnDate:disabled {opacity: 0.5;}
.form-control#travelClass {font-size:13px;}
.transparent-bg {background: transparent !important;}


@media only screen and (max-width:767px) {
  .flight-searc-box_web2 {margin-top:0px !important; background: transparent; !important; margin-top:15px !important;}
  .flight-search_bg_web2 {border-radius: 0px !important; padding-bottom: 15px;}
}
@media only screen and (min-width:992px) {
  .field-radius-0_web2 {border-radius: 0px !important;}
}


/* Flight search result box */
.flight-searc-box_web2 {background: transparent; position: relative; border-radius: 15px; padding: 0px;}
.flight-result_bg_web2 {background: #f7f7f7; padding: 150px 0 80px;}
.flight-result_box_web2 {background: #fdecec; border:1px solid #f9a2a2; padding: 20px; margin-bottom: 10px; border-radius: 10px;}
.flight-result_logo_web2 {width: 50px; height: 50px; border-radius: 5px;}
.flight-logo_name_web2 {font-size:14px; color:#999; margin:0px; padding-bottom: 0; pading-top:5px;}
.flight-time_web2 {font-size:20px; font-weight: 700; text-transform: uppercase; margin:0; padding: 0;}
.flight-location_web2 {font-size:13px; color: #222; font-weight: 500; margin:0; padding: 0;}
.flight-result_duration_web2 { text-align:center; display:flex; flex-direction:column; color:#999; font-size:13px; }
.flight-duration_line_web2 {width:100%; border-top: 1px solid #d41c1c;margin: 5px 0; position: relative; display: flex; justify-content: space-around; gap:5px;}
.flight-duration_line_web2:before {content: ''; position:absolute; left: 0; top:-6px; width: 10px; height: 10px; border-radius: 50%; background: #d41c1c;}
.flight-duration_line_web2:after {content: ''; position:absolute; right: 0; top:-6px; width: 10px; height: 10px; border-radius: 50%; background: #d41c1c;}
.flight-duration_line_web2 > div[class^="step-"] {width: 10px; height: 10px; border:1px solid #d41c1c; background: #fff; border-radius: 2px; margin-top:-6px;}
.flight-duration_line_web2 > div[class^="step-"].active {border-color:#ff3300;}
.flight-result_price_area_web2 { position: relative; height: 100%; border-left: 1px solid #bcbcbc; margin-right: -6px; display: flex; align-items: center; justify-content: center; gap: 15px;}
.flight-price_web2 {font-size:22px; font-weight: 700; margin-bottom: 0; color:#ff3300; text-decoration: none;}
.fligth-search_btn_web2 {background-color: #d41c1c !important; border-color: #d41c1c !important;}

/* Package List */
.flightsidebar_filter-box_web2 {border:1px solid #d41c1c; background: #f1f1f1; border-radius: 20px; padding-bottom: 20px; position: relative;}
.pfb_search_box_web1 {background: #ffae38; padding: 30px; border-radius: 20px 20px 0 0;}
.flightsidebar_padding_web2 {padding:20px;}
.search-filter_web1 {width: 100%; padding: 10px 16px; font-size: 14px; margin-top:10px; border-radius: 10px; border:none;}
.flightsidebar_checklist_web2 {margin: 15px 0 0; padding: 0;}
.flightsidebar_checklist_web2 li {list-style: none; display: flex; align-items: center ; gap: 15px; padding:5px 0;}
.flightsidebar_checklist_web2 li .pfb_checkbox {width: 16px; height: 16px; cursor: pointer;}
.flightsidebar_checklist_web2 li > label {font-size:14px; font-weight: 500;  cursor: pointer;}

@media (max-width: 767px) {
  .flight-result_price_area_web2 {border-left: none; border-top:1px solid #bcbcbc;padding-top:10px; margin-top:10px; justify-content: space-between;}
}

.flight-search_result_bg_web2 {background: #f1f1f1; padding:40px 0;}
.sticky-sidebar {position: sticky; top:0px;}
.filter-airline-logo_web2 {width: 18px; height: 18px; object-fit: contain; margin-right: 5px;}

/* Passenger detail */
.passenger_table_web2 {font-size:13px;}
.traveller-form_lbl_web2 {font-size:13px; display: block; padding-bottom: 5px;}
.add-traveller_btn_web2, .remove-traveller_tr_web2 {width: 30px; height: 30px; font-size:10px; color:#fff; cursor: pointer; border-radius: 50%; display: flex; align-items: center; justify-content: center; border:none;}
.add-traveller_btn_web2 {background: green; }
.remove-traveller_tr_web2 { background: #ff3300;margin-top:22px;}

.note {font-size:11px; background: #efdbdb; display: inline-block; padding: 3px 10px;}

.passenger_mob_design_web2 {display: block; padding: 10px 0; border-bottom: 1px solid #ddd;}
.passenger_mob_design_web2:last-of-type {border-bottom: none;}
.passenger-mob_num_web2 {width: 30px; height: 30px; font-size: 14px; border-radius: 50%; background: #2a247e; color: #fff; display: flex; justify-content: center; align-items: center; }
.passenger_mob_name_web2 {font-size: 14px; font-weight: 700; margin-bottom: 0; padding: 0;}
.passenger_mob_gender_web2 {font-size: 13px; font-weight:500; margin:0; padding:0; color:#999; }
.passenger_mob_dob_web2 {font-size: 12px; color: #666; padding: 0; margin: 0;}

/* Waiting page */
.search-formbox_web2 {background: #fff; border-radius: 4px; padding:30px;}
.search-form_title_web2 {font-size:14px; color: #999; margin: 0;}
.search-form_name_web2 {font-size:22px; font-weight: 700; color: #000;}
.search-form_to_web2 {font-size: 24px; font-weight: 700; color: #ffd9a2;}
.search-form_list_web2 {margin: 0; padding:0px; display: flex; justify-content:center; }
.search-form_list_web2 li {list-style: none; border-right: 1px solid #000; font-size: 13px; font-weight: 700; padding:0 15px;}
.search-form_list_web2 li:last-child {border-right: none;}
.search-form-hding {font-size: 26px; font-weight: 700; color: #2d479e; display: block; text-align: center;}
.wait_hding_web2 {font-size: 24px; font-weight: 700; text-align: center; display: block; color: #236de8;}
.search-form_loader_web2 {width: 300px; margin:auto; display: block;}
.search-form_callbtn_web2 {font-size: 14px; font-weight: 600; display: inline-block; text-align: center; text-transform: uppercase; background: #4306b4; color: #fff; border-radius: 50px; padding: 12px 20px; text-decoration: none; border:none; margin:30px auto 20px; display: table;}
.search-form_callbtn_web2:hover {color: #000;}
.search-form_callbtn_web2 > i {margin-right: 5px; font-size:16px;}

/* Discount offer card */
.disc_card {background: #fff; border:1px solid #d61212; padding: 20px; border-radius: 10px; position: relative; margin-bottom: 20px;}
.disc_lbl {font-size:12px; background: #d61212; color:#fff; padding: 4px 8px; border-radius: 4px; display: inline-block; }
.flight_route_web2 {font-size:18px; font-weight: 700; margin: 0; padding: 0; text-transform: uppercase;}
.flight_route_web2_name {font-size:13px; color: #999; margin: 0; padding: 0;}
.disc_route_img {width: 40px; height: 15px; object-fit: contain; margin:0 auto; display: table;}
.disc_flight_logo {width: 40%; height: 60px; object-fit: contain; margin: 0px auto 0; display: table;}
.disc_btn {font-size:12px; background: #d61212; color:#fff; padding: 4px 8px; border-radius: 4px; display: inline-block; text-decoration:none; }
.disc-flight_details_web2 {margin: 0; padding: 0; }
.disc-flight_details_web2 li {list-style: none; font-size:12px; color: #333; display: flex; gap: 5px; align-items: center; margin-bottom: 0px;}
.disc-flight_details_web2 li > i {width: 16px; font-size: 10px; color: #999;}
.disc-flight_num_web2 {font-size: 12px; color:#333; text-align: center; display: block; margin-bottom: 0; padding: 0;}


/* Booking review page design */
.booking-review_card_web2 {border-radius: 20px; border:1px solid #e1c1c1; background: #ffeded; padding: 20px;}
.fare_summary_list_web2 {margin: 0; padding: 0;}
.fare_summary_list_web2 li {list-style: none; font-size: 13px; display: flex; justify-content: space-between; padding: 10px 0; border-bottom: 1px solid #ddd;}
.fare_summary_list_web2 li > span:first-child {color:#000;}
.fare_summary_list_web2 li > span:last-child {font-weight: 600;}
.fare_summary_list_web2 li:last-child {border-bottom: none; font-size: 18px; font-weight: 700; color: #000;}
.fare_summary_list_web2 li:last-child > span:first-child {color: #000}
.summary_label_web2 { font-weight:600; width:100px; color:#999; margin-right:6px; display:inline-block; }
.confirm_box_web2 { background:#fdecec; border:1px solid #f9a2a2; padding:25px; border-radius:12px; box-shadow:0 2px 6px rgba(0,0,0,0.1); margin-bottom:25px; }
.policy-wrap_hding_web2 { font-size: 22px; color: #000; font-weight: 700; text-transform: capitalize;  padding-top: 10px; margin: 0;}

/* Payment page */
.payment_box_web2 { background:#fdecec; border:1px solid #f9a2a2; padding:25px; border-radius:12px; box-shadow:0 2px 6px rgba(0,0,0,0.1); }
.payment_card_box_web2 {background: #fff; border-radius: 10px; border:1px solid #f26060; padding: 20px;}
.payment_card_logo_web2 {height: 30px; object-fit: contain;}
.payment_field_web2 {width: 100%; border:1px solid #666; border-radius: 2px; height: 50px; padding: 20px 20px 0; font-size:13px;}
.payment_lbl_web2 {font-size:11px; color: #999; position: absolute; left: 20px; top:8px;}
select.payment_field_web2 {padding-left: 15px !important;}
/* Finalize booking page */
.success-msg_web2 { font-size:22px; font-weight:600; color:#28a745; }
.finalize_passenger_web2 {margin: 0; padding: 0; display: block;}
.finalize_passenger_web2 li {list-style: none; font-size: 14px;}
.finalize_passenger_web2 li > span {color:#999;}
.finalize-ticket_web2 {border-radius: 15px; padding: 20px; background: #fff; position: relative; min-height: 150px;}
.finalize-ticket_web2-header {display: flex; align-items: center; justify-content: space-between; gap: 10px; border-bottom: 1px dashed #999; padding-bottom: 10px; margin-bottom: 15px;}
.finalize-ticket_web2-airline_name {font-size:13px; margin-bottom: 0; padding: 0; color:#666;}

.finalize-ticket_web2-logo {width: 40px; height: 40px; }
.finalize-ticket_web2-left-half-circle {width: 10px; height: 20px; background: #fdecec; border-top-right-radius: 100px; border-bottom-right-radius: 100px; position: absolute; left: 0; top:60px; }
.finalize-ticket_web2-right-half-circle {width: 10px; height: 20px; background: #fdecec; border-top-left-radius: 100px; border-bottom-left-radius: 100px; position: absolute; right: 0; top:60px; }

@media print {
  .print-area {
    width: 210mm;       /* A4 width */
    max-width: 100%;
    margin: 0 auto;    
    page-break-inside: avoid;
    page-break-before: always;
  }
}

@media (max-width: 767px) {
  .success-msg_web2 {font-size: 18px !important;}
}

